/*   Add server   */
div.scroller-2FKFPG.da-scroller.inner-ZyuQk0.da-inner.slideBody-2nMrnU.da-slideBody, div.scrollerWrap-2lJEkd.da-scrollerWrap.content-1EtbQh.da-content.scrollerThemed-2oenus.da-scrollerThemed.themeGhostHairline-DBD-2d {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://wallpapercave.com/wp/wp2962064.jpg) ;
    background-size: cover ;
    background-position: center ;
    
}

p.description-QF3836.da-description {
	color: white;
}
